/*** Global Imports ***/
/*Oh you know this one...*/
/*buttons*/
/*Hover state*/
/*background*/
/*Not entierly sure what this is tho...*/
/*Ooo this one is for the Hobbies buttons! I'm color blind so I might be wrong...*/
/*Text under hobbies*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
* {
  box-sizing: border-box; }

body {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: normal;
  color: #3a3a3a;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #fafafa; }

h1 {
  padding: 0;
  margin: 0;
  font-size: 2.5em; }

h1,
nav,
h2,
footer {
  font-family: "Open Sans Condensed", bold; }

a {
  text-decoration: none;
  color: #3a3a3a; }

a:visited {
  color: #3a3a3a; }

ul {
  list-style-type: none;
  padding-left: 0; }

img {
  max-width: 100%; }

/* ------------------------------------
  Base Layout Styles
------------------------------------ */
/* ---- Navigation ---- */
.name a,
.main-nav li {
  display: block;
  max-width: 90%;
  text-align: center;
  padding: 10px 15px;
  background-color: #fff;
  margin: 5px auto; }

.name {
  font-size: 2em; }

.main-nav li a {
  font-size: 1.2em;
  color: #3a3a3a;
  text-transform: capitalize; }

.main-nav a:hover {
  color: #e67670; }

/* ---- nav ---- */
nav {
  margin-bottom: 15px; }

/*---- New Decorations/Items -----*/
@media (min-width: 768px) {
  .name a {
    background-color: inherit; } }
@media (min-width: 1024px) {
  .name a {
    float: left; } }

@media (min-width: 1024px) {
  .top-navigation {
    float: right; } }

@media (min-width: 768px) {
  .main-nav li {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    background-color: inherit; } }

@media (min-width: 768px) {
  .main-nav ul {
    margin: 0 auto;
    text-align: center; } }

@media (min-width: 1024px) {
  .nav {
    max-width: 100%; } }

.clearfix::after {
  content: " ";
  display: table;
  clear: both; }

.skill-list li, .hobbies-list li {
  border-radius: 6px; }

ul, .main-description, .main-content, .contact table {
  margin: 0 auto; }

.main-content, .final-content {
  padding: 10px 20px; }

.main-description {
  text-align: center;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .main-description {
      max-width: 95%; } }

@media (min-width: 768px) {
  .wrapper {
    max-width: 95%;
    margin: 0 auto; } }
@media (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
    margin: 20px auto; } }

h2 {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600; }

.main-content {
  text-align: center;
  background-color: #fff; }
  @media (min-width: 1024px) {
    .main-content {
      margin: 0 auto;
      background-color: #fff;
      max-width: 100%; } }

.container h3 {
  font-size: 1.4em;
  font-weight: normal; }

.container p {
  padding: 5px 30px 30px; }

.final-content {
  text-align: center;
  margin: 10px auto;
  background-color: #fff; }

.skill-list li {
  display: inline-block;
  padding: 5px 10px;
  background: #94a2af;
  color: white;
  margin: 6px; }

.hobbies-list li {
  display: inline-block;
  padding: 5px 10px;
  background: #a1b1c1;
  color: white;
  margin: 6px; }

/*---- New Decorations/Items -----*/
/* ---- containers ---- */
.contact {
  text-align: center;
  padding: 10px 15px;
  margin: 10px auto; }

.contact td {
  padding-left: 15px;
  text-align: left; }

@media (min-width: 768px) {
  .main-description {
    max-width: 95%; } }
@media (min-width: 1024px) {
  .main-description {
    max-width: 100%;
    padding: 30px;
    margin-bottom: 30px; } }

@media (min-width: 768px) {
  .profile-picture {
    max-width: 50%;
    float: right;
    margin: 0 auto;
    padding: 0; } }

@media (min-width: 768px) {
  .description-text {
    max-width: 50%;
    margin: 0 auto;
    padding: 1em;
    float: left;
    font-size: 1.2em;
    text-align: left; } }
@media (min-width: 1024px) {
  .description-text {
    font-size: 1.3em;
    padding-left: 0; } }

@media (min-width: 768px) {
  .container {
    max-width: 50%;
    float: left;
    padding: 10px; } }
@media (min-width: 1024px) {
  .container {
    max-width: 33.333%;
    float: left; } }

@media (min-width: 768px) {
  #travel-app-container {
    clear: left; } }
@media (min-width: 1024px) {
  #travel-app-container {
    clear: none; } }

/* ---- skills ---- */
@media (min-width: 768px) {
  .skills-image {
    max-width: 60%;
    margin: auto;
    float: left; } }

@media (min-width: 768px) {
  .skill-list ul {
    max-width: 40%;
    margin-top: 3em;
    padding-left: 10px;
    float: right; } }

/* ---- Hobbies ---- */
@media (min-width: 768px) {
  .hobbies-image {
    max-width: 60%;
    margin: auto;
    float: right; } }

@media (min-width: 768px) {
  .hobbies-list ul {
    max-width: 40%;
    margin-top: 3em;
    padding-left: 10px;
    float: left; } }

@media (min-width: 768px) {
  .hobbie-text {
    font-size: 1.2em;
    margin-top: 1em;
    float: right;
    justify-content: space-around;
    color: darkgoldenrod;
    font-weight: bold; } }

@media (min-width: 768px) {
  .contact {
    max-width: 70%;
    margin-bottom: 40px; } }

footer {
  padding: 1em 1em;
  margin: 20px auto;
  font-size: 1.2em;
  max-width: 95%;
  border-top: 1px solid #f2f2f2; }

footer span {
  float: left; }

footer a {
  float: right; }

footer li {
  display: none; }
  @media (min-width: 768px) {
    footer li {
      display: inline-block;
      float: left;
      padding: 0 10px;
      text-transform: capitalize; } }

/*---- New Items -----*/
@media (min-width: 768px) {
  .detailed-footer-bar {
    float: right; } }

@media (min-width: 768px) {
  .simple-footer-bar a {
    display: none; } }

/* ---- Float clearfix ---- */
.clearfix::after {
  content: " ";
  display: table;
  clear: both; }

/*# sourceMappingURL=style.css.map */
